<tr>
<%= form_for @user, url: admin_user_path do |f| %>
<td><%= f.text_field :name, placeholder: "Name" %></td>
<td><%= f.text_field :email, placeholder: "Email" %></td>
<td><%= f.collection_select :assistant_id, @assistants, :id, :name, :prompt => 'Select Assistant' %></td>
<td><%= f.text_field :password, placeholder: "Password" %></td>
<td><%= f.text_field :password_confirmation, placeholder: "confirm password" %></td>
<td><%= f.submit %></td>
<% end %>
</tr>
