<br>
<table>
  <h3> Create a new Salesperson </h3>
  <tr>
    <%= form_for :user, url: admin_users_path do |f| %>
    <td><%= f.text_field :name, placeholder: "name" %></td>
    <td><%= f.text_field :email, placeholder: "email"%></td>
    <td><%= f.collection_select :assistant_id, @assistants, :id, :name, :prompt => 'Select Assistant' %></td>
    <td><%= f.password_field :password, placeholder: "password" %></td>
    <td><%= f.password_field :password_confirmation, placeholder: "confirm password" %></td>
    <td><%= f.submit "Create Salesperson"%></td>
    <% end %>
  </tr>
</table>

<table>
  <h3> Create a new Assistant </h3>
  <tr>
    <%= form_for :user, url: admin_users_path do |f| %>
    <td><%= f.text_field :name, placeholder: "name" %></td>
    <td><%= f.text_field :email, placeholder: "email"%></td>
    <td><%= f.password_field :password, placeholder: "password" %></td>
    <td><%= f.password_field :password_confirmation, placeholder: "confirm password" %></td>
    <td>
    <td><%= f.submit "Create Assistant"%></td>
    <% end %>
  </tr>
</table>
<H1>Salespeople</h1>
<table>
  <tr>
    <td><strong>Name</strong></td>
    <td><strong>Email</strong></td>
    <td><strong>Assistant</strong></td>
  </tr>
  <% @salespeople.each do |s| %>
  <tr>
    <td><%= s.name %></td>
    <td><%= s.email %></td>
    <td><%= s.assistant_name %></td>
    <td><%= link_to "edit", edit_admin_user_path(s) %></td>
    <td><%= link_to "View Sales", admin_user_path(s) %></td>
    <% end %>
  </tr>
</table>

<H1>Assistants</h1>
<table>
  <tr>
    <td><strong>Name</strong></td>
    <td><strong>Email</strong></td>
    <td><strong>Salespeople</strong><td>
  </tr>
  <% @assistants.each do |a| %>
  <tr>
    <td><%= a.name %></td>
    <td><%= a.email %></td>
    <td><%= link_to "edit", edit_admin_user_path(a) %></td>
    <% end %>
  </tr>
</table>
<br>
