<div class='row'>
  <div class='col-md-12'>
    <div class='panel'>
      <div class='panel-body'>
        <table style="width:100%">
          <h3> Create a new Salesperson </h3>
          <tr>
            <%= form_for :user, url: admin_users_path do |f| %>
            <td><%= f.text_field :name, placeholder: "name" %></td>
            <td><%= f.text_field :email, placeholder: "email"%></td>
            <td><%= f.collection_select :assistant_id, @assistants, :id, :name, :prompt => 'Select Assistant' %></td>
            <td><%= f.password_field :password, placeholder: "password" %></td>
            <td><%= f.password_field :password_confirmation, placeholder: "confirm password" %></td>
            <td><%= f.submit "Create Salesperson", class: "btn btn-primary"%></td>
            <% end %>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<div class='row'>
  <div class='col-md-12'>
    <div class='panel'>
      <div class='panel-body'>
        <table style="width:100%">
          <h3> Create a new Assistant </h3>
          <tr>
            <%= form_for :user, url: admin_users_path do |f| %>
            <td><%= f.text_field :name, placeholder: "name" %></td>
            <td><%= f.text_field :email, placeholder: "email"%></td>
            <td><%= f.password_field :password, placeholder: "password" %></td>
            <td><%= f.password_field :password_confirmation, placeholder: "confirm password" %></td>
            <td>
            <td><%= f.submit "Create Assistant", class: "btn btn-primary"%></td>
            <% end %>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <div class='panel'>
      <div class='panel-body'>
        <H1>Salespeople</h1>
        <table style="width:100%">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Assistant</th>
          </tr>
          <% @salespeople.each do |s| %>
          <tr>
            <td><%= s.name %></td>
            <td><%= s.email %></td>
            <td><%= s.assistant_name %></td>
            <td><%= link_to "edit", edit_admin_user_path(s) %></td>
            <td><%= link_to "View Sales", admin_user_path(s) %></td>
            <% end %>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <div class='panel'>
      <div class='panel-body'>
        <H1>Salespeople</h1>
        <H1>Assistants</h1>
        <table style="width:100%">
          <tr>
            <td>Name</th>
            <td>Email</th>
            <td>Salespeople</th>
          </tr>
          <% @assistants.each do |a| %>
          <tr>
            <td><%= a.name %></td>
            <td><%= a.email %></td>
            <td><%= link_to "edit", edit_admin_user_path(a) %></td>
            <% end %>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
