<%=flash[:alert]%>
<table>
  <h3> Add a new Sale </h3>
  <tr>
    <%= form_for @sale, url: sales_path do |f| %>
    <td><%= f.text_field :user_id, placeholder: "salesperson id"  %></td>
    <td><%= f.text_field :pages, placeholder: "pages" %></td>
    <td><%= f.text_field :quantity, placeholder: "quantity"%></td>
    <td><%= f.text_field :job_title, placeholder: "job title"%></td>
    <td><%= f.text_field :job_type, placeholder: "job type"%></td>
    <td><%= f.text_field :amount, placeholder: "amount"%></td>
    <td><%= f.text_field :customer, placeholder: "customer"%></td>
    <td><%= f.text_field :mark_up, placeholder: "mark up"%></td>
    <td><%= f.text_field :frequency, placeholder: "frequency"%></td>
    <td><%= f.text_field :single_sale, placeholder: "single sale"%></td>
    <%= f.submit %>
    <% end %>
  </tr>
</table>
<br>
<br>
Choose month to view sales      ***PUT DROP DOWN HERE****


<table style="width:100%">
  <thead><h3>Current Sales Summary for <%= current_user.name %> for the month of <%= Time.now.strftime("%B") %><h3></thead>
  <tr>
    <td>Sales Person/Id</td>
    <td>Time Submited</td>
    <td>Job Title</td>
    <td>Job Type</td>
    <td align="right">Pages</td>
    <td align="right">Quantity</td>
    <td align="right">Sale Amount</td>
    <td align="right">Customer</td>
    <td align="right">Mark Up</td>
    <td align="right">Frequency</td>
    <td align="right">Sinlge Sale Amt</td>
    <td align="right">Annual Sales</td>
  </tr>
    <%@sales.each do |sale|%>
    <tr>
      <td><%=sale.user.name%> / <%=sale.user_id%></td>
      <td><%=sale.created_at.strftime("%^b %d, %Y, %l:%M:%p")%></td>
      <td><%=sale.job_title%></td>
      <td><%=sale.job_type%></td>
      <td align="right"><%=sale.pages%></td>
      <td align="right"><%=sale.quantity%></td>
      <td align="right"><%=number_to_currency(sale.amount)%></td>
      <td align="right"><%=sale.customer%></td>
      <td align="right"><%=sale.mark_up%> % </td>
      <td align="right"><%=sale.frequency%></td>
      <td align="right"><%=number_to_currency(sale.single_sale)%></td>
      <td align="right"><%=number_to_currency((sale.frequency * sale.single_sale))%></td>
      <td align="right"><%=link_to "edit", edit_sale_path(sale) %> </td>
      <td align="right"><%=link_to "delete", sale_path(sale), method: :delete %></td>
    </tr>
    <% end %>
    <tr>
      <td><strong>Web Sale Totals</strong></td>
      <td align="right"></td>
      <td align="right"></td>
      <td align="right"></td>
      <td align="right"></td>
      <td align="right"></td>
      <td align="right"></td>
      <td align="right"></td>
      <td align="right"></td>
      <td align="right"></td>
      <td align="right"><strong><%=number_to_currency(@sales.where(job_type: "web").sum(:single_sale))%></strong></td>
      <td align="right"><strong><%=number_to_currency(@sales.where(job_type: "web").sum("single_sale * frequency"))%></strong></td>
    </tr>
    <tr>
      <td><strong>Digital Sale Totals</strong></td>
      <td align="right"></td>
      <td align="right"></td>
      <td align="right"></td>
      <td align="right"></td>
      <td align="right"></td>
      <td align="right"></td>
      <td align="right"></td>
      <td align="right"></td>
      <td align="right"></td>
      <td align="right"><strong><%=number_to_currency(@sales.where(job_type: "digital").sum(:single_sale))%></strong></td>
      <td align="right"><strong><%=number_to_currency(@sales.where(job_type: "digital").sum("single_sale * frequency"))%></strong></td>
    </tr>
    <tr>
      <td><h2>Total Sales</h2></td>
      <td></td>
      <td align="right"></td>
      <td align="right"></td>
      <td align="right"></td>
      <td align="right"></td>
      <td align="right"></td>
      <td align="right"></td>
      <td align="right"></td>
      <td align="right"></td>
      <td align="right"><strong><%=number_to_currency(@sales.sum(:single_sale))%></strong></td>
      <td align="right"><strong><%=number_to_currency(@sales.sum("single_sale * frequency"))%></strong></td>
    </tr>

</table>
