<div class='row'>         <!-- add a new sale section -->
  <div class='col-md-12'>
    <div class='panel'>
      <div class='panel-body'>
        <table class= 'table-striped table-bordered table-hover'>
          <h3> Add a new Sale </h3>
          <tr class= 'submission-table'>
            <%= form_for @sale, url: sales_path do |f| %>
            <th><%= f.collection_select :user_id, @salespeople, :id, :name, :prompt => "Select Salesperson" %></th>
            <th><%= f.select :job_type, ["web", "digital"]%></th>
            <th><%= f.text_field :job_title, placeholder: "job title"%></th>
            <th><%= f.text_field :quantity, placeholder: "quantity"%></th>
            <th>
              <div><%= f.text_field :pages, placeholder: "pages" %></div>
              <div><%= f.text_field :width, placeholder: "width" %></div>
              <div><%= f.text_field :length, placeholder: "length" %></div>
            </th>
            <th><%= f.text_field :customer, placeholder: "customer"%></th>
            <th><%= f.text_field :mark_up, placeholder: "mark up"%></th>
            <th><%= f.text_field :single_sale, placeholder: "single sale"%></th>
            <th><%= f.text_field :frequency, placeholder: "frequency"%></th>
            <%= f.submit "Create Sale", class: "btn btn-primary btn-sm" %>
            <% end %>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
