<%= render partial: 'layouts/new_sale' if !current_user.admin? %>
<br>
<div class='row'>  <!-- choose a different month to view salses data section -->
  <div class='col-sm-6 col-md-6 col-lg-6'>
    <div class='panel'>
      <div class='panel-body'>
        <div>
          <h3>Choose month to view sales</h3>
          <%= form_for :date, url: sales_path, method: "get" do |f| %>
            <%= f.select :month, months, :selected => @display_month %>
            <%= f.select :year, years, :selected => Time.now.strftime("%Y")%>
            <%= f.submit "Choose Month/Year", class: "btn btn-primary"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if current_user.assistant? %>   <!-- choose a different salesperson to view sales data for -->
  <div>
    Choose salesperson to view sales
    <%= form_for :date, url: sales_path, method: "get" do |f| %>
      <%= f.select :user, @names %>
      <%= f.submit "Salesperson", class: "btn btn-primary"%>
    <% end %>
  </div>
  <% end %>
<!-- aggregate sales totals info section -->
  <div class='col-sm-6 col-md-6 col-lg-6'>
    <div class='panel'>
      <div class='panel-body'>
        <table id="table1" class= 'table-striped table-bordered table-hover'>
          <h3>Total Sales for <%= @display_month %></h3>
          <tr>
            <th></th>
            <th>Single Sale Total</th>
            <th>Annual Sale Total</th>
          </tr>
          <tr>
            <td><strong>Web Sale Totals</strong></td>
            <td align="right"><strong><%=number_to_currency(@sales.where(job_type: "web").sum(:single_sale), :precision => 0)%></strong></td>
            <td align="right"><strong><%=number_to_currency(@sales.where(job_type: "web").sum("single_sale * frequency"), :precision => 0)%></strong></td>
          </tr>
          <tr>
            <td><strong>Digital Sale Totals</strong></td>
            <td align="right"><strong><%=number_to_currency(@sales.where(job_type: "digital").sum(:single_sale), :precision => 0)%></strong></td>
            <td align="right"><strong><%=number_to_currency(@sales.where(job_type: "digital").sum("single_sale * frequency"), :precision => 0)%></strong></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
              <td><h4><strong>All Sales</strong></h4></td>
              <td align="right"><strong><%=number_to_currency(@sales.sum(:single_sale), :precision => 0)%></strong></td>
              <td align="right"><strong><%=number_to_currency(@sales.sum("single_sale * frequency"), :precision => 0)%></strong></td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class='row'>  <!--  -->
  <div class='col-sm-12 col-md-12 col-m-12'>
    <div class='panel'>
      <div class='panel-body'>
        <table width='100%' id="main_table" class='table-striped table-bordered table-hover'>
          <thead><h3>Current Sales Summary for chose salespeople for the month of <%= @display_month %><h3></thead>
            <tr>
              <th>Salesperson</th>
              <th>Date</th>
              <th>Type</th>
              <th>Title</th>
              <th align="right">Quantity</th>
              <th align="right">Adj Pages</th>
              <th align="right">Cust#</th>
              <th align="right">Markup</th>
              <th align="right">Sale</th>
              <th align="right">Freq</th>
              <th align="right">Annual Sales</th>
              <th></th>
            </tr>
          </thead>
              <% @sales.each do |sale|%>
            <tr class="table-text">
              <td><%=sale.user.name%></td>
              <td><%=link_to sale.created_at.strftime("%m/%d/%Y"), edit_sale_path(sale) %></td>
              <td><%=sale.job_type%></td>
              <td><%=sale.job_title%> 123456789012345678901234567890</td>
              <td align="right"><%=number_with_delimiter(sale.quantity)%></td>
              <td align="right"><%=sale.adjusted_page_count%></td>
              <td align="right"><%=sale.customer%></td>
              <td align="right"><%=sale.mark_up%> % </td>
              <td align="right"><%=number_to_currency(sale.single_sale, precision: 0)%></td>
              <td align="right"><%=sale.frequency%></td>
              <td align="right"><%=number_to_currency((sale.frequency * sale.single_sale), precision: 0) %></td>
              <td align="right"><%=link_to sale_path(sale), data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-xs btn-danger" do %>
                                  <i class="glyphicon glyphicon-trash"></i>
                                <% end %>
              </td>
            </tr>
              <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
