<%= render partial: 'layouts/new_sale' if !current_user.admin? %>
<br>
<div class='row'>  <!-- choose a different month to view salses data section -->
  <div class='col-sm-6 col-md-6 col-lg-6'>
    <div class='panel'>
      <div class='panel-body'>
        <div>
          <h3>Choose month to view sales</h3>
          <%= form_for :date, url: sales_path, method: "get" do |f| %>
            <%= f.select :month, months, :selected => @sales_output.display_month %>
            <%= f.select :year, years, :selected => Time.now.strftime("%Y")%>
            <%= f.submit "Choose Month/Year", class: "btn btn-primary"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if current_user.assistant? %>   <!-- choose a different salesperson to view sales data for -->
  <div>
    Choose salesperson to view sales
    <%= form_for :date, url: sales_path, method: "get" do |f| %>
      <%= f.select :user, @names %>
      <%= f.submit "Salesperson", class: "btn btn-primary"%>
    <% end %>
  </div>
  <% end %>
<!-- aggregate sales totals info section -->
  <div class='col-sm-6 col-md-6 col-lg-6'>
    <div class='panel'>
      <div class='panel-body'>
        <table id="table1" class= 'table-striped table-bordered table-hover'>
          <h3>Total Sales for <%= @sales_output.display_month %></h3>
          <tr>
            <th></th>
            <th>Single Sale Total</th>
            <th>Annual Sale Total</th>
          </tr>
          <tr>
            <td><strong>Web Sale Totals</strong></td>
            <td align="right"><strong><%=number_to_currency(@sales_output.sales.where(job_type: "web").sum(:single_sale), :precision => 0)%></strong></td>
            <td align="right"><strong><%=number_to_currency(@sales_output.sales.where(job_type: "web").sum("single_sale * frequency"), :precision => 0)%></strong></td>
          </tr>
          <tr>
            <td><strong>Digital Sale Totals</strong></td>
            <td align="right"><strong><%=number_to_currency(@sales_output.sales.where(job_type: "digital").sum(:single_sale), :precision => 0)%></strong></td>
            <td align="right"><strong><%=number_to_currency(@sales_output.sales.where(job_type: "digital").sum("single_sale * frequency"), :precision => 0)%></strong></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
              <td><h4><strong>All Sales</strong></h4></td>
              <td align="right"><strong><%=number_to_currency(@sales_output.sales.sum(:single_sale), :precision => 0)%></strong></td>
              <td align="right"><strong><%=number_to_currency(@sales_output.sales.sum("single_sale * frequency"), :precision => 0)%></strong></td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class='row'>  <!--  -->
  <div class='col-sm-12 col-md-12 col-m-12'>
    <div class='panel'>
      <div class='panel-body'>
        <table id = "main_table" class= 'table-striped table-bordered table-hover'>
          <thead><h3>Current Sales Summary for chose salespeople for the month of <%= @sales_output.display_month %><h3></thead>
            <tr>
              <th>Sales Person</th>
              <th>Date</th>
              <th>Job Type</th>
              <th>Job Title</th>
              <th align="right">Quantity</th>
              <th align="right">Pages</th>
              <th align="right">Adjusted Page Count</th>
              <th align="right">Customer</th>
              <th align="right">Mark Up</th>
              <th align="right">Single Sale Amt</th>
              <th align="right">Frequency</th>
              <th align="right">Annual Sales</th>
              <th colspan="2"></th>
            </tr>
          </thead>
              <% @sales_output.sales.each do |sale|%>
            <tr class="table-text">
              <td><%=sale.user.name%></td>
              <td><%=sale.created_at.strftime("%^b %d, %Y")%></td>
              <td><%=sale.job_type%></td>
              <td><%=sale.job_title%></td>
              <td align="right"><%=number_with_delimiter(sale.quantity)%></td>
              <td align="right"><%=sale.pages%></td>
              <td align="right"><%=sale.adjusted_page_count%></td>
              <td align="right"><%=sale.customer%></td>
              <td align="right"><%=sale.mark_up%> % </td>
              <td align="right"><%=number_to_currency(sale.single_sale)%></td>
              <td align="right"><%=sale.frequency%></td>
              <td align="right"><%=number_to_currency((sale.frequency * sale.single_sale), :precision => 0)%></td>
              <td align="right"><%=link_to "edit", edit_sale_path(sale) %> </td>
              <td align="right"><%=link_to "delete", sale_path(sale), method: :delete %></td>
            </tr>
              <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
